<!DOCTYPE html>
<html lang="zh-TW">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="minimum-scale=1.0, width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Copyright | ILAS Chinese Spoken Language Resources" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{% static 'images/ogImg.jpg' %}" />
    <meta property="og:description" content="ILAS Chinese Spoken Language Resources System" />
    <meta name="description" content="ILAS Chinese Spoken Language Resources System" />
    <title>Copyright | ILAS Chinese Spoken Language Resources</title>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/common.css' %}" rel="stylesheet">
</head>
<body class="page d-flex flex-column h-100">
    <header class="navbar navbar-light navbar-expand-lg sticky-top py-0 px-3">
        <a class="navbar-brand logo position-relative" href="../index.html" data-lang="">
            <img src="{% static 'images/logo-s.png' %}" alt="ILAS Chinese Spoken Language Resources System" height="70">
        </a>
        <button class="navbar-toggler p-0 border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarOffcanvasLg" aria-controls="navbarOffcanvasLg">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="navbarOffcanvasLg" aria-labelledby="navbarOffcanvasLgLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">ILAS Chinese Spoken Language Resources System</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle py-1" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Home
                        </a>
                        <ul class="dropdown-menu p-0 rounded-0">
                            <li><a class="dropdown-item" href="/corpus_list_en">List of corpora</a></li>
                            <li><a class="dropdown-item" href="/corpus_process_en">Data processing</a></li>
                            <li><a class="dropdown-item" href="/corpus_resource_en">Resources</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-1" href="{% if 'login' in request.session %}/search_en{% else %}/signin_en{% endif %}">Search</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-1" href="{% if 'login' in request.session %}/resources_en{% else %}/signin_en{% endif %}">Resources</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-1" href="/guide_en">Guide</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-1 active" href="/copyright_en">Copyright</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-1" href="/copyright_ch">中文</a>
                    </li>
                </ul>
                <!-- account nav -->
                {% if has_session %}
                <ul class="navbar-nav flex-grow-1 nav-account">
                    <li class="nav-item">
                        <a class="nav-link py-1" href="/account_en">帳號</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-1" href="#" onclick="logout()">登出</a>
                    </li>
                </ul> 
                {% endif %}
            </div>
        </div>
    </header>

    <main class="container p-0 px-2 bg-white bg-opacity-75">
        <div class="row gx-3 gy-2">
            <div class="col-12 ms-sm-auto px-lg-4 px-md-2">
                <div class="position-relative my-3">
                    <h1 class="title"><span class="px-3">ILAS Chinese Spoken Language Resources" Declaration of Rights</span></h1>
                </div>

                <div class="font-sizing d-block text-end pb-2">
                    <button type="button" class="size0 btn btn-outline-secondary" onclick="fontSize(0)">S</button>
                    <button type="button" class="size1 btn btn-outline-secondary active" onclick="fontSize(1)">M</button>
                    <button type="button" class="size2 btn btn-outline-secondary" onclick="fontSize(2)">L</button>
                </div>
                
                <div class="content pb-5 mb-5">
                    <strong>Ⅰ、"ILAS Chinese Spoken Language Resources" Search for Website Corpus</strong>
                    <p>一、When browsing or using the " ILAS Chinese Spoken Language Resources ", it is deemed that the user has fully accepted and understood all the specifications in this statement, relevant laws and regulations of the Republic of China, all international network regulations and usage practices, and shall not use this website for any illegal purpose.</p>
                    <p>二、In the case of personal and non-commercial purposes, users can freely browse and use this website in accordance with the relevant norms of intellectual property laws. All data of " ILAS Chinese Spoken Language Resources ", including text, sound, and images, are protected by copyright property rights and privacy policies.</p>
                    <p>三、The content of the " ILAS Chinese Spoken Language Resources " database is open to messengers to download text search results. Users can edit, analyze, reproduce, derive, and quote according to academic research purposes, and should declare the source of the research corpus as " ILAS Chinese Spoken Language Resources " in paper citations and various publications.</p>
                    <p>四、The Academia Sinica owns the relevant intellectual property rights of the " ILAS Chinese Spoken Language Resources ", including interface programs, corpus composition methods, part-of-speech tagging, spoken corpus tagging. Users can only use the interface system to retrieve data and use the search results to conduct research, and are not allowed to retrieve, modify, or publish the search results at will. The copyright of the corpus still belongs to the original author or provider, and others are not allowed to reprint, plagiarize or infringe the intellectual property rights of any corpus.</p>
                    <strong>Ⅱ、"ILAS Chinese Spoken Language Resources" download resources for free</strong>
                    <p>一、In the case of personal and non-commercial purposes, users can download relevant materials expressly provided by the " ILAS Chinese Spoken Language Resources " in accordance with the relevant norms of intellectual property laws, but the source must be indicated when citing publicly.</p>    
                    <p>二、“Sinica MCDC8” of this website provides academic authorization, please contact The Association for Computational Linguistics and Chinese Language Processing for authorization matters<a target="_blank" href="https://www.aclclp.org.tw/use_mat_c.php#mcdc">（https://www.aclclp.org.tw/use_mat_c.php#mcdc）.</a></p>
                    <strong>Ⅲ、Description of related matters</strong>
                    <p>一、The scope of this announcement only covers the scope of copyright protection and the scope of privacy protection, not other intellectual property rights (including but not limited to the provision of patents, trademarks, and agency logos).</p>
                    <p>二、Whether the personal data disclosed by the parties themselves or disclosed by laws and regulations may be collected, processed, and used, the user must plan and implement the corresponding measures required by the law in accordance with the relevant provisions of the Personal Data Protection Law.</p>
                    <p>三、Attention should be paid to respecting the personality rights of third parties (including the right to express names and the right to prohibit improper changes).</p>
                    <p>四、Use the information and materials provided in this announcement, and do not maliciously change the relevant information. If the information displayed after use is inconsistent with the original materials and materials, and can be held accountable according to law, the user must be responsible for civil and criminal laws responsibility.</p>
                    <p>五、The announcement on this website does not grant the user the position of suggesting, approving or approving its value-added derivatives on behalf of the agency.</p>
                </div>
            </div>
        </div>
    </main>
    
    <footer class="footer mt-auto px-lg-5 px-2">
        <p class="text-center text-white my-md-2 my-1">Copyright &copy; Institute of Linguistics, Academia Sinica.</p>
    </footer>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/common.js' %}"></script>
</body>
</html>
