<!DOCTYPE html>
<html lang="zh-TW">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="minimum-scale=1.0, width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Resources | ILAS Chinese Spoken Language Resources" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{% static 'images/ogImg.jpg' %}" />
    <meta property="og:description" content="ILAS Chinese Spoken Language Resources System" />
    <meta name="description" content="ILAS Chinese Spoken Language Resources System" />
    <title>Resources | ILAS Chinese Spoken Language Resources</title>


    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/common.css' %}" rel="stylesheet">
</head>
<body class="page d-flex flex-column h-100">
    <header class="navbar navbar-light navbar-expand-lg sticky-top py-0 px-3">
        <a class="navbar-brand logo position-relative" href="../index.html" data-lang="">
            <img src="{% static 'images/logo-s.png' %}" alt="ILAS Chinese Spoken Language Resources System" height="70">
        </a>
        <button class="navbar-toggler p-0 border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarOffcanvasLg" aria-controls="navbarOffcanvasLg">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="navbarOffcanvasLg" aria-labelledby="navbarOffcanvasLgLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">ILAS Chinese Spoken Language Resources System</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle py-1" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Home
                        </a>
                        <ul class="dropdown-menu p-0 rounded-0">
                            <li><a class="dropdown-item" href="/corpus_list_en">List of corpora</a></li>
                            <li><a class="dropdown-item" href="/corpus_process_en">Data processing</a></li>
                            <li><a class="dropdown-item" href="/corpus_resource_en">Licensing info</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-1" href="{% if 'login' in request.session %}/search_en{% else %}/signin_en{% endif %}">Search</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-1" href="{% if 'login' in request.session %}/resources_en{% else %}/signin_en{% endif %}">Resources</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-1" href="/guide_en">Guide</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-1" href="/copyright_en">Copyright</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-1" href="/resources_ch">Chinese</a>
                    </li>
                </ul>
                <!-- account nav -->
                {% if has_session %}
                <ul class="navbar-nav flex-grow-1 nav-account">
                    <li class="nav-item">
                        <a class="nav-link py-1" href="/account_en">Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-1" href="#" onclick="logout()">Logout</a>
                    </li>
                </ul> 
                {% endif %}
            </div>
        </div>
    </header>

    <main class="container p-0 px-2 bg-white bg-opacity-75">
        <div class="row gx-3 gy-2">
            <div class="col-12 ms-sm-auto px-lg-4 px-md-2">
                <div class="position-relative my-3">
                    <h1 class="title"><span class="px-3">Resources</span></h1>
                </div>

                <div class="pb-5 mb-5">
                    <div class="accordion accordion-flush" id="accordionResources">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="resources-headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#resources-collapseOne" aria-expanded="false" aria-controls="resources-collapseOne">
                                    Sinica Chinese Spoken Wordlist
                                </button>
                            </h2>
                            <div id="resources-collapseOne" class="accordion-collapse collapse" aria-labelledby="resources-headingOne" data-bs-parent="#accordionResources">
                                <div class="accordion-body">
                                    <p>The Sinica Chinese Spoken Wordlist (Sinica File No. 24T-1080124) was mainly derived from the transcripts of the adult conversational speech corpora (the TMC), supplemented with a small number of words from other sources. The phonetic transcription of the words was thoroughly examined, including homographs and tone variants. As a result, the Wordlist provides Hanyu Pinyin with tone category labels, POS, frequency and accumulated frequency of ordinary words (405,435 tokens, 16,683 types). Frequency information about discourse-related items is provided in three categories of discourse markers, particles, and fillers (57,697 tokens, 124 types). </p>
                                    <div class="d-flex justify-content-center py-2">
                                        <a href="#" class="btn btn-outline-primary text-center">agree and download</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="resources-headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#resources-collapseTwo" aria-expanded="false" aria-controls="resources-collapseTwo">
                                    Sinica Chinese Syllable Structure Frequency List
                                </button>
                            </h2>
                            <div id="resources-collapseTwo" class="accordion-collapse collapse" aria-labelledby="resources-headingTwo" data-bs-parent="#accordionResources">
                                <div class="accordion-body">
                                    <p>Derived from the word information out of the Wordlist, the Sinica Chinese Syllable Structure Frequency List (Sinica File No. 24T-1080125) contains eligible onset-rhyme combinations in Chinese with frequency information. For applications in linguistic research, it can be used for designing stimuli in experiments that are related to the authentic use of spoken Chinese.</p>
                                    <div class="d-flex justify-content-center py-2">
                                        <a href="#" class="btn btn-outline-primary text-center">agree and download</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </main>
    
    <footer class="footer mt-auto px-lg-5 px-2">
        <p class="text-center text-white my-md-2 my-1">Copyright &copy; Institute of Linguistics, Academia Sinica.</p>
    </footer>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/common.js' %}"></script>
</body>
</html>
