<!DOCTYPE html>
<html lang="zh-TW">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="minimum-scale=1.0, width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Search | ILAS Chinese Spoken Language Resources" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{% static 'images/ogImg.jpg' %}" />
    <meta property="og:description" content="ILAS Chinese Spoken Language Resources System" />
    <meta name="description" content="ILAS Chinese Spoken Language Resources System" />
    <title>Search | ILAS Chinese Spoken Language Resources</title>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/common.css' %}" rel="stylesheet">
    <link href="{% static 'css/search.css' %}" rel="stylesheet">
</head>
<body class="page d-flex flex-column h-100">
    <header class="navbar navbar-light navbar-expand-lg sticky-top py-0 px-3">
        <a class="navbar-brand logo position-relative" href="../index.html" data-lang="">
            <img src="{% static 'images/logo-s.png' %}" alt="ILAS Chinese Spoken Language Resources System" height="70">
        </a>
        <button class="navbar-toggler p-0 border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarOffcanvasLg" aria-controls="navbarOffcanvasLg">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="navbarOffcanvasLg" aria-labelledby="navbarOffcanvasLgLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">ILAS Chinese Spoken Language Resources System</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle py-1" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Home
                        </a>
                        <ul class="dropdown-menu p-0 rounded-0">
                            <li><a class="dropdown-item" href="/corpus_list_en">List of corpora</a></li>
                            <li><a class="dropdown-item" href="/corpus_process_en">Data processing</a></li>
                            <li><a class="dropdown-item" href="/corpus_resource_en">Licensing info</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-1" href="{% if 'login' in request.session %}/search_en{% else %}/signin_en{% endif %}">Search</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-1" href="{% if 'login' in request.session %}/resources_en{% else %}/signin_en{% endif %}">Resources</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-1" href="/guide_en">Guide</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-1" href="/copyright_en">Copyright</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-1" href="/search2_ch">Chinese</a>
                    </li>
                </ul>
                <!-- account nav -->
                {% if has_session %}
                <ul class="navbar-nav flex-grow-1 nav-account">
                    <li class="nav-item">
                        <a class="nav-link py-1" href="/account_en">Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-1" href="#" onclick="logout()">Logout</a>
                    </li>
                </ul> 
                {% endif %}
            </div>
        </div>
    </header>

    <main class="container p-0 px-2 bg-white bg-opacity-75">
        <div class="row gx-3 gy-2">
            <button id="btnSideSearch" type="button" class="btn lh-sm" data-bs-toggle="offcanvas" data-bs-target="#sidebarSearch" aria-controls="sidebarSearch">
                <i class="bi bi-hand-index-thumb-fill px-2"></i>Search Scope
            </button>
            <div id="sidebarSearch" class="offcanvas offcanvas-start m-0 literature" data-bs-backdrop="true" tabindex="-1" id="sidebarSearch" aria-labelledby="literatureArea">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title text-primary pt-3 pb-2" id="literatureArea">Search Scope</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="list-unstyled ">
                        <li class="mb-1 position-relative">
                            <div>
                                <label class="form-check-label pe-4">
                                    <input class="form-check-input" type="radio" name="bookAlls"  autocomplete="off" value="1"   onchange="updateSelectedOption(this)" id="option1" checked> <span>Sinica Taiwan Mandarin Conversational Corpus</span>
                                </label>
                                <button class="btn btn-toggle align-items-center rounded py-0 position-absolute end-0 collapsed" data-bs-toggle="collapse" data-bs-target="#one-collapse" aria-expanded="false"> 
                                    <i class="bi bi-chevron-right"></i>
                                </button>
                            </div>
                            <div class="ms-4 collapse" id="one-collapse">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1">
                                    <li><label class="form-check-label pe-4"><input class="form-check-input" type="checkbox" name="book[]" autocomplete="off" value="2" onchange="updateCheckOptions(this)" id="checkbox2" checked> <span>Mandarin Conversational Dialogue Corpus (MCDC8)</span></label></li>
                                    <li><label class="form-check-label pe-4"><input class="form-check-input" type="checkbox" name="book[]" autocomplete="off" value="3" onchange="updateCheckOptions(this)" id="checkbox3" checked> <span>Mandarin Conversational Dialogue Corpus (MCDC22)</span></label></li>
                                    <li><label class="form-check-label pe-4"><input class="form-check-input" type="checkbox" name="book[]" autocomplete="off" value="4" onchange="updateCheckOptions(this)" id="checkbox4" checked> <span>Mandarin Map Task Corpus (MMTC)</span></label></li>
                                    <li><label class="form-check-label pe-4"><input class="form-check-input" type="checkbox" name="book[]" autocomplete="off" value="1" onchange="updateCheckOptions(this)" id="checkbox1" checked> <span>Mandarin Topic-oriented Conversational Corpus (MTCC)</span></label></li>
                                </ul>
                            </div>
                        </li>
                        <li class="mb-1 position-relative">
                            <div>
                                <label class="form-check-label pe-4">
                                    <input class="form-check-input" type="radio" name="bookAlls" autocomplete="off" value="2" onchange="updateSelectedOption(this)" id="option2"> <span>Sinica Sociophonetic Corpus</span>
                                </label>
                            </div>
                        </li>
                        <li class="mb-1 position-relative">
                            <div>
                                <label class="form-check-label pe-4">
                                    <input class="form-check-input" type="radio" name="bookAlls" autocomplete="off" value="3" onchange="updateSelectedOption(this)" id="option3"> <span>Sinica Child Speech Corpus</span>
                                </label>
                                <button class="btn btn-toggle align-items-center rounded py-0 position-absolute end-0 collapsed" data-bs-toggle="collapse" data-bs-target="#four-collapse" aria-expanded="false"> 
                                    <i class="bi bi-chevron-right"></i>
                                </button>
                            </div>
                            <div class="ms-4 collapse" id="four-collapse">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1">
                                    <li><label class="form-check-label pe-4"><input class="form-check-input" type="checkbox" name="book[]" autocomplete="off" value="5" onchange="updateCheckOptions(this)" id="checkbox5"> <span>The Hare and the Tortoise (NH)</span></label></li>
                                    <li><label class="form-check-label pe-4"><input class="form-check-input" type="checkbox" name="book[]" autocomplete="off" value="6" onchange="updateCheckOptions(this)" id="checkbox6"> <span>The Hare and the Tortoise (HI)</span></label></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="offcanvas-footer p-3">
                    <div class="row align-items-center0">
                        <div class="font-sizing col-8 text-start">
                            <button type="button" class="size0 btn btn-outline-secondary" onclick="fontSize(0, '.literature')">S</button>
                            <button type="button" class="size1 btn btn-outline-secondary active" onclick="fontSize(1, '.literature')">M</button>
                            <button type="button" class="size2 btn btn-outline-secondary" onclick="fontSize(2, '.literature')">L</button>
                        </div>
                        <div class="col-4 text-end">
                            <button type="button" class="btn btn-dark" data-bs-dismiss="offcanvas" onclick="navigateToPage_en()">OK</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 ms-sm-auto px-lg-4 px-md-2">
                <div class="position-relative my-3">
                    <h1 class="title"><span class="px-3">Search</span></h1>
                </div>

                <div class="font-sizing d-block text-end pb-2">
                    <button type="button" class="size0 btn btn-outline-secondary" onclick="fontSize(0)">S</button>
                    <button type="button" class="size1 btn btn-outline-secondary active" onclick="fontSize(1)">M</button>
                    <button type="button" class="size2 btn btn-outline-secondary" onclick="fontSize(2)">L</button>
                </div>
                
                <div id="searchArea" class="card mb-3 accordion">
                    <div class="card-header accordion-header p-0">
                        <button class="accordion-button bg-primary text-white py-2 fs-6" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSearch" aria-expanded="true" aria-controls="collapseSearch">
                            <strong>Search Scope Setting</strong>
                        </button>
                    </div>
                    <div id="collapseSearch" class="card-body p-2 accordion-collapse collapse show">
                            <div class="p-0 col-12 d-block text-center table-rows table-rows--search table-rows--search2">
                                <div class="table-row table-rows--body d-lg-table d-flex flex-wrap py-md-1 w-100">
                                    <div class="table-cell d-table-cell" data-title="&nbsp;">&nbsp;</div>
                                    <div class="table-cell d-table-cell text-main" data-title="Character/Pinyin">
                                        <input type="text" class="form-control text-main-character"  id="main_character" autocomplete="off" value="">
                                    </div>
                                    <div class="table-cell d-table-cell form-features" data-title="&nbsp;">
                                        <a href="javascript:void(0);" onclick="conditionChange(2, this)"><i class="bi bi-plus-circle-fill fs-3"></i></a>
                                    </div>
                                </div>
                                <div class="table-row table-rows--body d-lg-table d-flex flex-wrap py-md-1 w-100 form-pos">
                                    <div class="table-cell d-table-cell" data-title="&nbsp;">&nbsp;</div>
                                    <div class="table-cell d-table-cell text-start text-adjacent" data-title="&nbsp;">
                                        <label class="d-flex align-items-center"><input type="radio" name="character0" class="form-check-input m-1" autocomplete="off" value="1" checked> IPU-internal (single speaker)</label>
                                        <label class="d-flex align-items-center"><input type="radio" name="character0" class="form-check-input m-1" autocomplete="off" value="2"> N-character interval within<input type="text" id="number" class="form-control d-inline-block text-center mx-1 text-n-character" autocomplete="off" value="" disabled> words (single speaker)</label>
                                    </div>
                                </div>
                                <div class="table-row table-rows--body d-lg-table d-flex flex-wrap py-md-1 table-rows--body-sub w-100">
                                    <div class="table-cell d-table-cell" data-title="&nbsp;">
                                        <select class="form-select" autocomplete="off">
                                            <option value="and">AND</option>
                                            <option value="or">OR</option>
                                            <option value="not">NOT</option>
                                        </select>
                                    </div>
                                    <div class="table-cell d-table-cell text-main" data-title="Character/Pinyin">
                                        <input type="text" class="form-control text-main-character input_character" autocomplete="off" value="">
                                    </div>
                                    <div class="table-cell d-table-cell form-features" data-title="&nbsp;">
                                        <a href="javascript:void(0);" onclick="conditionChange(1, this)"><i class="bi bi-dash-circle-fill fs-3"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer bg-transparent p-2 fs-6">
                            <div class="col-12 d-flex justify-content-center py-2">
                                <button class="btn btn-primary px-4 mx-3" type="reset" onclick="clean()">Clear</button>
                                <button class="btn btn-primary px-4 mx-3" type="submit" onclick="searching_en()">Search</button>
                            </div>
                        </div>
                    <!-- 搜尋條件樣版 -->
                    <div class="table-row table-rows--body d-lg-table d-flex flex-wrap py-md-1 search-condition-tmpl d-lg-none d-none table-rows--body-sub w-100">
                        <div class="table-cell d-table-cell" data-title="&nbsp;">
                            <select class="form-select" autocomplete="off">
                                <option value="and">AND</option>
                                <option value="or">OR</option>
                                <option value="not">NOT</option>
                            </select>
                        </div>
                        <div class="table-cell d-table-cell text-main" data-title="Character/Pinyin">
                            <input type="text" class="form-control text-main-character input_character" autocomplete="off" value="">
                        </div>
                        <div class="table-cell d-table-cell form-features" data-title="&nbsp;">
                            <a href="javascript:void(0);" onclick="conditionChange(1, this)"><i class="bi bi-dash-circle-fill fs-3"></i></a>
                        </div>
                    </div>
                </div>

                <div id="find_bar">
                </div>

                <div class="text-muted fs-6 mx-3 mb-3 d-flex flex-lg-row flex-column justify-content-end text-end" id="search_export">
                    
                </div>

                <nav id ="Pagination1">
                </nav>

                <div id="searchResult" class="content pb-2">
                    <div class="mb-4 p-0 col-12 d-lg-table d-block text-center table-rows table-rows--result">
                        <div class="table-row table-rows--header py-3 d-flex align-items-center" id="search_header">
                        </div>
                        <div id="search_content">

                        </div>
                    </div>
                </div>

                <nav id="Pagination2">
                </nav>
            </div>
        </div>


    </main>
    
    <footer class="footer mt-auto px-lg-5 px-2">
        <p class="text-center text-white my-md-2 my-1">Copyright &copy; Institute of Linguistics, Academia Sinica.</p>
    </footer>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/common.js' %}"></script>
    <script src="{% static 'js/search.js' %}"></script>
    <script src="{% static 'js/searching3.js' %}"></script>
    <script src="{% static 'js/logout.js' %}"></script>
    <script src="{% static 'js/navigateToPage.js' %}"></script>
    <script src="{% static 'js/showPage.js' %}"></script>
</body>
</html>
