<!DOCTYPE html>
<html lang="zh-TW">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="minimum-scale=1.0, width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Signin | ILAS Chinese Spoken Language Resources" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{% static 'images/ogImg.jpg' %}" />
    <meta property="og:description" content="ILAS Chinese Spoken Language Resources System" />
    <meta name="description" content="ILAS Chinese Spoken Language Resources System" />
    <title>Signin | ILAS Chinese Spoken Language Resources</title>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/common.css' %}" rel="stylesheet">

</head>
<body class="page d-flex flex-column h-100">
    <header class="navbar navbar-light navbar-expand-lg sticky-top py-0 px-3">
        <a class="navbar-brand logo position-relative" href="../index.html" data-lang="">
            <img src="{% static 'images/logo-s.png' %}" alt="ILAS Chinese Spoken Language Resources System" height="70">
        </a>
        <button class="navbar-toggler p-0 border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarOffcanvasLg" aria-controls="navbarOffcanvasLg">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="navbarOffcanvasLg" aria-labelledby="navbarOffcanvasLgLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">ILAS Chinese Spoken Language Resources System</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle py-1" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Home
                        </a>
                        <ul class="dropdown-menu p-0 rounded-0">
                            <li><a class="dropdown-item" href="/corpus_list_en">List of corpora</a></li>
                            <li><a class="dropdown-item" href="/corpus_process_en">Data processing</a></li>
                            <li><a class="dropdown-item" href="/corpus_resource_en">Licensing info</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-1" href="{% if 'login' in request.session %}/search_en{% else %}/signin_en{% endif %}">Search</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-1" href="{% if 'login' in request.session %}/resources_en{% else %}/signin_en{% endif %}">Resources</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-1" href="/guide_en">Guide</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-1" href="/copyright_en">Copyright</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-1" href="/signin_ch">Chinese</a>
                    </li>
                </ul>
                <!-- account nav -->
                {% if has_session %}
                <ul class="navbar-nav flex-grow-1 nav-account">
                    <li class="nav-item">
                        <a class="nav-link py-1" href="/account_en">Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-1" href="#" onclick="logout()">Logout</a>
                    </li>
                </ul> 
                {% endif %}
            </div>
        </div>
    </header>
    <main class="container p-0 px-2 bg-white bg-opacity-75">
        <div class="row gx-3 gy-2">
            <div class="col-12 ms-sm-auto px-lg-4 px-md-2">
                <div class="position-relative my-3">
                    <h1 class="title"><span class="px-3">Login</span></h1>
                </div>

                <div class="font-sizing d-block text-end py-2">
                    <button type="button" class="size0 btn btn-outline-secondary" onclick="fontSize(0)">S</button>
                    <button type="button" class="size1 btn btn-outline-secondary active" onclick="fontSize(1)">M</button>
                    <button type="button" class="size2 btn btn-outline-secondary" onclick="fontSize(2)">L</button>
                </div>

                <div class="container form-signin py-4 mb-4">
                    <div class="row">
                        <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3">
                            <form action="search.html">
                                <div class="form-floating pb-3">
                                    <input  class="form-control" id="account">
                                    <label for="account">Account</label>
                                </div>
                                <div class="form-floating pb-3">
                                    <input type="password" class="form-control" id="password">
                                    <label for="password">Password</label>
                                </div>
                                <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
                            </form>
                        </div>
                        <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 d-flex align-items-center">
                            <a href="/apply_en" class="w-50 btn btn-outline-primary m-3 flex-grow-1">Apply</a>
                            <a href="/forgotpw_en" class="w-50 btn btn-outline-primary m-3 flex-grow-1">Forgot your password</a>
                        </div>
                    </div>
                </div>

                <div class="content pb-5 mb-5">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="card my-2">
                                <div class="card-body">
                                    <h5 class="card-title"><strong>Sinica Taiwan Mandarin Conversational Corpus</strong></h5>
                                    <p class="card-text">The 43-hour Sinica Taiwan Mandarin Conversational Corpus (TMC Corpus) consists of 30 free conversations between strangers (MCDC8 and MCDC22) and 29 topic-specific and 26 Map Task conversations (MTCC and MMTC) between people acquainted with each other, each an average length of one hour, 20 minutes, and 10 minutes, respectively.</p>
                                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                        <a href="/corpus1_en" class="btn btn-primary btn-sm">MORE</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card my-2">
                                <div class="card-body">
                                    <h5 class="card-title"><strong>Sinica Sociophonetic Corpus</strong></h5>
                                    <p class="card-text">「The Sinica Sociophonetic Corpus was funded by the National Digital Archives Project. The purpose of this corpus project was to document and archive the contemporary use of spoken Taiwan Mandarin. Recording was conducted in twelve regions distributed across northern, middle, and southern Taiwan, including Yilan County, Taoyuan County, Hsinchu County, Taichung City, Nantou County, Yunlin County, Chiayi City, Changhua County, Tainan City, Kaohsiung City, Kaoshiung County, and Taipei City. </p>
                                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                        <a href="/corpus2_en" class="btn btn-primary btn-sm">MORE</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card my-2">
                                <div class="card-body">
                                    <h5 class="card-title"><strong>Sinica Child Speech Corpus</strong></h5>
                                    <p class="card-text">The Sinica Child Speech Corpus was funded by the National Science Council and the Children’s Hearing Foundation. It contains repetitive and narrative speech data produced by seventy-nine preschool children with normal hearing (NH) aged 2;11~6;3 (median 5;0) and forty-five children with hearing impairment (HI) aged 3;3~12;5 (median 5;9). </p>
                                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                        <a href="/corpus3_en" class="btn btn-primary btn-sm">MORE</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    
    <footer class="footer mt-auto px-lg-5 px-2">
        <p class="text-center text-white my-md-2 my-1">Copyright &copy; Institute of Linguistics, Academia Sinica.</p>
    </footer>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/common.js' %}"></script>
    <script src="{% static 'js/login.js' %}"></script>
</body>
</html>
