body {
    padding-bottom: 20px;
}

#header {
    background-color: #748B6F;
    color: #ffffff;
    text-align: center;
    padding: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
}

.form-group {
    width: 100%;
    max-width: 400px;
    margin-bottom: 15px;
}

.btn-primary {
    background-color: #748B6F !important;
    font-size: 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block; 
}

label {
    font-size: 20px;
    margin-bottom: 5px;
}

select.form-control {
    font-size: 18px;
}

#footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #748B6F;
    color: #ffffff;
    text-align: center;
    padding: 10px;
}
