@charset "UTF-8";

/* 設定搜尋範圍 */
#sidebarSearch { border-right: 1px solid #084f93; }
#sidebarSearch label { text-indent: -1.2em; margin-left: 1.2em; }
#sidebarSearch ul li { padding-top: 0.2rem; padding-bottom: 0.2rem; }
#sidebarSearch li input:checked + span { color: #5cc8ef; }
#btnSideSearch { width: 3.5rem; border: 1px solid #084f93; background-color: #084f93; color: #ffffff; z-index: 100; position: fixed !important; left: 0; margin: 0.8rem 0 0;  border-top-right-radius: 1rem; border-bottom-right-radius: 1rem; padding: 0.6rem 0.25rem;   letter-spacing: -0.5px; }
#btnSideSearch i { color: #ffffff; }
#btnSideSearch:hover { background: #5cc8ef; }
#sidebarSearch .btn-toggle, #sidebarSearch .btn-toggle .bi:before { transition: transform .35s ease; }
#sidebarSearch .btn-toggle[aria-expanded="true"] .bi:before { transform: rotate(90deg); }

/* 搜尋範圍/結果 */
#searchArea, #keywordModal .modal-content { background-color: #fbf8f4; border-color: #084f93; }
#searchArea .card-header, #keywordModal .modal-header { background-color: #5cc8ef; color: #ffffff; border-color: #084f93; }
#searchArea .card-footer, #keywordModal .modal-footer { border-color: #084f93; }
#searchScope { background-color: rgba(222,216,208,.5); border-color: #aca8a2; font-size: 1rem; }
#searchScope .dropdown-menu { max-height: 15rem; }
.table-rows .table-cell { vertical-align: bottom; padding: 0.3px 0.2rem; }
.table-rows .table-row > .table-cell { width: 20%; }
.table-rows--header { font-size: 1rem; color: #666666; }
.table-rows--body { align-items: end; }
.table-rows--search .table-row > .table-cell { width: 25%; }
.table-rows--search.table-rows--search2 .table-row > .table-cell { width: calc(100% / 3); }
.table-rows--search .table-row > .table-cell.text-adjacent { width: 50%; }
.table-rows--search.table-rows--search2 .table-row > .table-cell.text-adjacent { width: calc(100% / 3 * 2); }
.table-rows--search .table-row > .table-cell.text-adjacent:before { display: none; }
.table-rows--search .table-row > .table-cell.text-adjacent label { height: 2.5em; }
.table-rows--search .table-row > .table-cell.text-adjacent .form-control { width: 50px; }
.table-rows--search .table-row > .table-cell.text-sub:before { color: #666666; }
.table-rows--search .table-row > .table-cell.text-sub .form-select, .table-rows--search .table-row > .table-cell.text-sub .form-control { border-color: rgba(0,0,0,.3); }
.table-rows--result .table-rows--body:hover { background-color: rgba(238,238,238,0.7); }
.table-rows--result .table-rows--body .table-cell { min-height: 2rem; }
.table-rows--result .table-row > .table-cell { width: 10%; }
.table-rows--result .table-row > .table-cell.text-result { width: 70%; }
.table-rows--result .table-row > .table-cell.text-result2 { width: 75%; }
.table-rows--result .table-row > .table-cell.text-talk, .table-rows--result .table-row > .table-cell:first-child { width: 5%; }
.table-rows--result .table-row > .table-cell.text-content { width: 75%; }
.table-rows--result .table-row > .table-cell .table-cell.text-talks { width: 7%; }
.table-rows--result .table-row > .table-cell .table-cell.text-results { width: 93%; }
.table-row .table-cell input.form-control, .table-row .table-cell .form-select { padding: 0.1rem 0; width: 100%; }
.table-rows--search .table-row .table-cell:before { margin: 0.4rem auto 0.2rem; content: attr(data-title); font-size: 1rem; line-height: 1rem; display: block; white-space: pre-wrap; color: #084f93; }
.col-form-label { font-weight: 900; color: #084f93; }

.card-body { font-size: 0.9rem; }
.popover-header { line-height: 1; letter-spacing: -0.5px; font-size: 0.8rem; color: #ffffff; background-color: #000000; border: none; padding: 0.5rem; }
.bs-popover-top > .popover-arrow:before, .bs-popover-top > .popover-arrow:after { border-top-color: #000000 !important; }
.bs-popover-bottom > .popover-arrow:before, .bs-popover-bottom > .popover-arrow:after { border-bottom-color: #000000 !important; }
.bs-popover-start > .popover-arrow:before, .bs-popover-start > .popover-arrow:after { border-left-color: #000000 !important; }
.bs-popover-end > .popover-arrow:before, .bs-popover-end > .popover-arrow:after { border-right-color: #000000 !important; }

@media (max-width: 1199.98px) {
  
}

@media (max-width: 991.98px) {
  .table-rows.table-rows--search .table-row > .table-cell { width: 50%; }
  .table-rows--search .table-row > .table-cell.text-adjacent { width: 100% !important; }
  .table-rows--search .table-row > .table-cell:last-child { width: 100% !important; }
  .table-rows--search.table-rows--search2 .table-row > .table-cell:last-child { width: 50% !important; }
  .table-rows--search.table-rows--search2 .table-row.table-rows--body.form-pos > .table-cell { width: 100% !important; }
  .table-rows--search .table-row > .table-cell:before { font-size: 0.75rem; line-height: 0.8rem; }
  .table-rows--search .table-row > .table-cell:last-child:before { margin: 0; content: none; }
  .table-rows--result .table-rows--body:hover { background-color: transparent; }
  .table-rows--result .table-rows--body:nth-of-type(odd) { background-color: rgba(238,238,238,0.7); }
  .table-rows--result .table-rows--body .table-cell { min-height: 2rem; }
  .table-rows--search .table-row.table-rows--body:first-child > .table-cell:first-child, .table-rows--search .table-row.table-rows--body.form-pos > .table-cell:first-child { display: none !important; }
  .table-rows--search.table-rows--search2 .table-row.table-rows--body.form-pos > .table-cell:first-child { display: black !important; }
  .table-rows--search .table-row.table-rows--body-sub > .table-cell { width: calc(100% / 3) !important; }
  .table-rows--search .table-row.table-rows--body-sub > .table-cell:last-child { width: 100% !important; }
  .table-rows--search.table-rows--search2 .table-row.table-rows--body-sub > .table-cell:last-child { width: calc(100% / 3) !important; }
  .table-rows--search .table-row.table-rows--body-sub > .table-cell.text-adjacent { display: none !important; }
  .table-rows.table-rows--result .table-row > .table-cell { width: calc(100% / 3 ); }
  .table-rows.table-rows--result .table-row > .table-cell.text-result2 { width: 90%; }
  .table-rows.table-rows--result .table-row > .table-cell.text-talk { width: 10%; }
  .table-rows--result .table-row > .table-cell.text-content { width: 90%; }
  .table-rows--result .table-row > .table-cell.text-content:before { display: none; }
  .table-rows--result .table-row > .table-cell .table-cell.text-talks { width: 10%; }
  .table-rows--result .table-row > .table-cell .table-cell.text-results { width: 90%; }
  .table-row .table-cell input.form-control, .table-row .table-cell .form-select { text-align: center; }
  .table-row .table-cell:before { margin: 0.4rem auto 0.2rem; content: attr(data-title); font-size: 0.7rem; line-height: 1; display: block; white-space: pre-wrap; color: #666666; text-transform: uppercase; letter-spacing: -0.5px; }
}

@media (max-width: 767.98px) {
  
}

@media (max-width: 575.98px) {
  .table-rows--search .table-row > .table-cell { width: 50% !important; }
}
