<!DOCTYPE html>
<html lang="zh-TW">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="minimum-scale=1.0, width=device-width, initial-scale=1.0">
    <title>中研院中文口語語料庫檢索系統後端管理 ILAS Chinese Spoken Language Resources Management</title>
    
    <link href="{% static 'backend/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'backend/css/common.css' %}" rel="stylesheet">
    <link href="{% static 'backend/css/index.css' %}" rel="stylesheet">
</head>
<body>
    <main class="form-signin">
        <div>
            <h1 class="p-3 text-center"><img src="{% static 'backend/images/logo.png' %}" alt="中研院中文口語語料庫檢索系統後端管理" width="380" height="120"></h1>

            <div class="p-5">
                <div class="form-floating pb-3">
                    <input type="email" class="form-control" id="account" placeholder="請輸入帳號">
                    <label for="account">帳號</label>
                </div>
                <div class="form-floating pb-5">
                    <input type="password" class="form-control" id="password" placeholder="請輸入密碼">
                    <label for="password">密碼</label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" onclick="login()">登入</button>
            </div>
        </div>
    </main>

    <footer class="fixed-bottom px-lg-5 px-2">
        <div>
            <p class="text-center text-white my-md-2 my-1">Copyright &copy; Institute of Linguistics, Academia Sinica.</p>
        </div>
    </footer>

    <script src="{% static 'backend/js/jquery.min.js' %}"></script>
    <script src="{% static 'backend/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'backend/js/login.js' %}"></script>
    <script src="{% static 'backend/js/logout.js' %}"></script>
</body>
</html>
<script>
    logout();
</script>
