<!DOCTYPE html>
<html lang="zh-TW">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="minimum-scale=1.0, width=device-width, initial-scale=1.0">
    <title>操作手冊|中研院中文口語語料庫檢索系統後端管理 ILAS Chinese Spoken Language Resources Management</title>

    <link href="{% static 'backend/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'backend/css/common.css' %}" rel="stylesheet">

</head>
<body class="d-flex flex-column">
    <header class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a href="#" class="d-flex align-items-center justify-content-center text-decoration-none px-2">
                <img src="{% static 'backend/images/logo-s.png' %}" alt="中研院中文口語語料庫檢索系統後端管理" width="233" height="60">
            </a>
            <nav class="d-flex justify-content-end">
                <ul class="nav navbar-nav flex-row me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/backend_resource">授權資源管理</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/backend_corpus">語料管理</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/backend_record">日誌查詢</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/backend_account">帳號管理</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">操作手冊</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/backend_index">登出</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="title d-block border-bottom mb-2">
        <h2 class="h3 py-3 m-0 text-center">操作手冊</h2>
    </div>

    <main class="container-fluid">
        <div class="row m-4">
            <div class="col-12">
                <p>本介面提供一些功能將檢索出來的資料作處理，而且處理出來的語料可以再次處理，形成一層又一層的語料。<p>
                <p>本介面所提供的功能有以下五種：<br> 一、排序：檢索出來的資料是依照在語料庫中的次序來排列，透過排序功能可以調整語料排列順序，更方便觀察或比較； 二、詞類累計：若想對語料的語法特性作更進一步的觀察，可以利用此功能統計每種詞類出現的次數； 三、過濾：檢索出來的資料可能很龐雜，可以利用本功能作更進一步的篩選； 四、collocation統計：本功能提供統計數據來表示關鍵詞和前後的詞或詞類一起出現的機率； 五、畫面切換：可以隨時跳換到「自訂語料庫」、「內容檢索」重新檢索，或進入每一層語料顯示畫面。</p>
                <p>1. 排序：以本次檢索結果為範圍，依照設定對象及依據將資料依次排列。</p>
                <p>2. 詞類累計：以本次檢索結果為範圍，統計關鍵詞及其前後語境內不同詞類出現次數。</p>
                <p>3. 過濾：以本次檢索結果為範圍，依照設定條件和範圍作過濾。</p>
                <p>4. collocation統計：以本次檢索結果為範圍，計算關鍵詞與其語境內所含詞或詞類間的共現率（collocation）。共現率是以互見訊息值（ＭＩ值：mutual information value）為準則。互見訊息值表示兩個單位同時出現的機率，值越高，表示共現率越高；反之，值愈低，表示共現率越低。</p>
                <p>5. 畫面切換<br>     第一次由自訂語料庫和內容檢索畫面檢索出來的語料屬於第一層語料。如果進階處理將該語料縮減，則會形成第二層語料。第二層語料還可以進階處理，形成第三層語料。以此類推，最多可以記錄十層語料。<br>        畫面上方會有「自訂語料庫畫面」。將滑鼠移到「自訂語料庫畫面」按一下，就會進入自訂語料庫畫面的介面。進入「自訂語料庫畫面」表示要重新檢索資料，目前的語料將全部取消。<br>        畫面上方會有「內容檢索畫面」。將滑鼠移到「內容檢索畫面」按一下，就會進入內容檢索畫面的介面。進入「內容檢索畫面」表示要重新鍵入新的檢索條件值，之前所鍵入的檢索條件值將消失，檢索資料的範圍，則仍是之前所自訂的語料庫。<br>        畫面上方有「上層結果」、「本層結果」或「下層結果」。將滑鼠移到「上層結果」按一下，就會進入上層的語料顯示畫面；將滑鼠移到「本層結果」按一下，就會進入這一層語料顯示畫面；將滑鼠移到「下層結果」按一下，就會進入下層的語料顯示畫面。</p>
            </div>
        </div>
    </main>

    <footer class="footer mt-auto px-lg-5 px-2">
        <div>
            <p class="text-center text-white my-md-2 my-1">Copyright &copy; Institute of Linguistics, Academia Sinica.</p>
        </div>
    </footer>

    <script src="{% static 'backend/js/jquery.min.js' %}"></script>
    <script src="{% static 'backend/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'backend/js/common.js' %}"></script>
</body>
</html>
