<!DOCTYPE html>
<html lang="zh-TW">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="minimum-scale=1.0, width=device-width, initial-scale=1.0">
    <meta property="og:title" content="忘記密碼 | 中央研究院 中文口語語料庫檢索系統 ILAS Chinese Spoken Language Resources" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{% static 'images/ogImg.jpg' %}" />
    <meta property="og:description" content="中研院中文口語語料庫檢索系統" />
    <meta name="description" content="中研院中文口語語料庫檢索系統" />
    <title>忘記密碼 | 中央研究院 中文口語語料庫檢索系統 ILAS Chinese Spoken Language Resources</title>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/common.css' %}" rel="stylesheet">
</head>
<body class="page d-flex flex-column h-100">
    <header class="navbar navbar-light navbar-expand-lg sticky-top py-0 px-3">
        <a class="navbar-brand logo position-relative" href="/index" data-lang="">
            <img src="{% static 'images/logo-s.png' %}" alt="中研院中文口語語料庫檢索系統" height="70">
        </a>
        <button class="navbar-toggler p-0 border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarOffcanvasLg" aria-controls="navbarOffcanvasLg">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="navbarOffcanvasLg" aria-labelledby="navbarOffcanvasLgLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">中研院中文口語語料庫檢索系統</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle py-1" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          簡介
                        </a>
                        <ul class="dropdown-menu p-0 rounded-0">
                            <li><a class="dropdown-item" href="/corpus_list_ch">語料庫</a></li>
                            <li><a class="dropdown-item" href="/corpus_process_ch">語料處理</a></li>
                            <li><a class="dropdown-item" href="/corpus_resource_ch">授權資訊</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-1" href="{% if 'login' in request.session %}/search_ch{% else %}/signin_ch{% endif %}">語料檢索</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-1" href="{% if 'login' in request.session %}/resources_ch{% else %}/signin_ch{% endif %}">學術資源</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-1" href="/guide_ch">系統說明</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-1" href="/copyright_ch">權利宣告</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-1" href="/forgotpw_en">English</a>
                    </li>
                </ul>
                <!-- account nav -->
                {% if has_session %}
                <ul class="navbar-nav flex-grow-1 nav-account">
                    <li class="nav-item">
                        <a class="nav-link py-1" href="/account_ch">帳號</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-1" href="#" onclick="logout()">登出</a>
                    </li>
                </ul> 
                {% endif %}
            </div>
        </div>
    </header>

    <main class="container p-0 px-2 bg-white bg-opacity-75">
        <div class="row gx-3 gy-2">
            <div class="col-12 ms-sm-auto px-lg-4 px-md-2">
                <div class="position-relative my-3">
                    <h1 class="title"><span class="px-3">忘記密碼</span></h1>
                </div>

                <div class="font-sizing d-block text-end py-2">
                    <button type="button" class="size0 btn btn-outline-secondary" onclick="fontSize(0)">小</button>
                    <button type="button" class="size1 btn btn-outline-secondary active" onclick="fontSize(1)">中</button>
                    <button type="button" class="size2 btn btn-outline-secondary" onclick="fontSize(2)">大</button>
                </div>
                
                <div class="container form-forgotpw py-4 mb-4">
                    <div class="row">
                        <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">
                            <form>
                                <div class="form-floating pb-3">
                                    <p><strong>請輸入申請時的個人電子郵件</strong></p>
                                    <p>說明文字說明文字說明文字說明文字說明文字說明文字說明文字</p>
                                </div>
                                <div class="form-floating pb-3">
                                    <input type="email" class="form-control" id="email">
                                    <label for="email">電子郵件</label>
                                </div>
                                <a href="#" onclick="send_newpwd()" class="w-100 btn btn-lg btn-primary">傳送新密碼至信箱</a>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="content pb-5">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="card my-2">
                                <div class="card-body">
                                    <h5 class="card-title"><strong>現代漢語主題對話語音語料庫 - 主題對話語音語料庫</strong></h5>
                                    <p class="card-text">簡單說明簡單說明簡單說明簡單說明簡單說明簡單說明簡單說明簡單說明簡單說明簡單說明簡單說明</p>
                                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                        <a href="intro1.html" class="btn btn-primary btn-sm">瞭解更多</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card my-2">
                                <div class="card-body">
                                    <h5 class="card-title"><strong>現代漢語主題對話語音語料庫 - 連續口語對話語音語料庫</strong></h5>
                                    <p class="card-text">簡單說明簡單說明簡單說明簡單說明簡單說明簡單說明簡單說明簡單說明簡單說明簡單說明簡單說明</p>
                                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                        <a href="intro2.html" class="btn btn-primary btn-sm">瞭解更多</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card my-2">
                                <div class="card-body">
                                    <h5 class="card-title"><strong>現代漢語主題對話語音語料庫 - 地圖導引口語語音語料庫</strong></h5>
                                    <p class="card-text">簡單說明簡單說明簡單說明簡單說明簡單說明簡單說明簡單說明簡單說明簡單說明簡單說明簡單說明</p>
                                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                        <a href="intro3.html" class="btn btn-primary btn-sm">瞭解更多</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card my-2">
                                <div class="card-body">
                                    <h5 class="card-title"><strong>社會語音資料庫</strong></h5>
                                    <p class="card-text">簡單說明簡單說明簡單說明簡單說明簡單說明簡單說明簡單說明簡單說明簡單說明簡單說明簡單說明</p>
                                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                        <a href="intro4.html" class="btn btn-primary btn-sm">瞭解更多</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card my-2">
                                <div class="card-body">
                                    <h5 class="card-title"><strong>兒童聽力資料</strong></h5>
                                    <p class="card-text">簡單說明簡單說明簡單說明簡單說明簡單說明簡單說明簡單說明簡單說明簡單說明簡單說明簡單說明</p>
                                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                        <a href="intro5.html" class="btn btn-primary btn-sm">瞭解更多</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    
    <footer class="footer mt-auto px-lg-5 px-2">
        <p class="text-center text-white my-md-2 my-1">Copyright &copy; 中央研究院語言學研究所 Institute of Linguistics, Academia Sinica.</p>
    </footer>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/common.js' %}"></script>
    <script src="{% static 'js/send_newpwd.js' %}"></script>
</body>
</html>
