<!DOCTYPE html>
<html lang="zh-TW">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="minimum-scale=1.0, width=device-width, initial-scale=1.0">
    <meta property="og:title" content="檢索語料 | 中央研究院 中文口語語料庫檢索系統 ILAS Chinese Spoken Language Resources" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{% static 'images/ogImg.jpg' %}" />
    <meta property="og:description" content="中研院中文口語語料庫檢索系統" />
    <meta name="description" content="中研院中文口語語料庫檢索系統" />
    <title>檢索語料 | 中央研究院 中文口語語料庫檢索系統 ILAS Chinese Spoken Language Resources</title>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/common.css' %}" rel="stylesheet">
    <link href="{% static 'css/search.css' %}" rel="stylesheet">
</head>
<body class="page d-flex flex-column h-100">
    <header class="navbar navbar-light navbar-expand-lg sticky-top py-0 px-3">
        <a class="navbar-brand logo position-relative" href="/index" data-lang="">
            <img src="{% static 'images/logo-s.png' %}" alt="中研院中文口語語料庫檢索系統" height="70">
        </a>
        <button class="navbar-toggler p-0 border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarOffcanvasLg" aria-controls="navbarOffcanvasLg">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="navbarOffcanvasLg" aria-labelledby="navbarOffcanvasLgLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">中研院中文口語語料庫檢索系統</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle py-1" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          簡介
                        </a>
                        <ul class="dropdown-menu p-0 rounded-0">
                            <li><a class="dropdown-item" href="/corpus_list_ch">語料庫</a></li>
                            <li><a class="dropdown-item" href="/corpus_process_ch">語料處理</a></li>
                            <li><a class="dropdown-item" href="/corpus_resource_ch">授權資訊</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-1 active" href="{% if 'login' in request.session %}/search_ch{% else %}/signin_ch{% endif %}">語料檢索</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-1" href="{% if 'login' in request.session %}/resources_ch{% else %}/signin_ch{% endif %}">學術資源</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-1" href="/guide_ch">系統說明</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-1" href="/copyright_ch">權利宣告</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-1" href="/search_en">English</a>
                    </li>
                </ul>
                <!-- account nav -->
                {% if has_session %}
                <ul class="navbar-nav flex-grow-1 nav-account">
                    <li class="nav-item">
                        <a class="nav-link py-1" href="/account_ch">帳號</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-1" href="#" onclick="logout()">登出</a>
                    </li>
                </ul> 
                {% endif %}
            </div>
        </div>
    </header>
    <main class="container p-0 px-2 bg-white bg-opacity-75">
        <div class="row gx-3 gy-2">
            <button id="btnSideSearch" type="button" class="btn lh-sm" data-bs-toggle="offcanvas" data-bs-target="#sidebarSearch" aria-controls="sidebarSearch">
                <i class="bi bi-hand-index-thumb-fill px-2"></i>設定搜尋範圍
            </button>
            <div id="sidebarSearch" class="offcanvas offcanvas-start m-0 literature" data-bs-backdrop="true" tabindex="-1" id="sidebarSearch" aria-labelledby="literatureArea">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title text-primary pt-3 pb-2" id="literatureArea">設定搜尋範圍</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="list-unstyled content">
                        <li class="mb-1 position-relative">
                            <div>
                                <label class="form-check-label pe-4">
                                    <input class="form-check-input" type="radio" name="bookAlls"  autocomplete="off" value="1"   onchange="updateSelectedOption(this)" id="option1" checked> <span>中研院中文對話語音語料庫</span>
                                </label>
                                <button class="btn btn-toggle align-items-center rounded py-0 position-absolute end-0 collapsed" data-bs-toggle="collapse" data-bs-target="#one-collapse" aria-expanded="false"> 
                                    <i class="bi bi-chevron-right"></i>
                                </button>
                            </div>
                            <div class="ms-4 collapse" id="one-collapse">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1">
                                    <li><label class="form-check-label pe-4"><input class="form-check-input" type="checkbox" name="book[]" autocomplete="off" value="2" onchange="updateCheckOptions(this)" id="checkbox2" checked> <span>現代漢語連續口語對話語音語料庫MCDC8</span></label></li>
                                    <li><label class="form-check-label pe-4"><input class="form-check-input" type="checkbox" name="book[]" autocomplete="off" value="3" onchange="updateCheckOptions(this)" id="checkbox3" checked> <span>現代漢語連續口語對話語音語料庫MCDC22</span></label></li>
                                    <li><label class="form-check-label pe-4"><input class="form-check-input" type="checkbox" name="book[]" autocomplete="off" value="4" onchange="updateCheckOptions(this)" id="checkbox1" checked> <span>現代漢語地圖導引口語語音語料庫MMTC</span></label></li>
                                    <li><label class="form-check-label pe-4"><input class="form-check-input" type="checkbox" name="book[]" autocomplete="off" value="1" onchange="updateCheckOptions(this)" id="checkbox4" checked> <span>現代漢語主題對話語音語料庫MTCC</span></label></li>
                                </ul>
                            </div>
                        </li>
                        <li class="mb-1 position-relative">
                            <div>
                                <label class="form-check-label pe-4">
                                    <input class="form-check-input" type="radio" name="bookAlls" autocomplete="off" value="2" onchange="updateSelectedOption(this)" id="option2"> <span>中研院台灣華語社會語音語料庫</span>
                                </label>
                            </div>
                        </li>
                        <li class="mb-1 position-relative">
                            <div>
                                <label class="form-check-label pe-4">
                                    <input class="form-check-input" type="radio" name="bookAlls" autocomplete="off" value="3" onchange="updateSelectedOption(this)" id="option3"> <span>中研院兒童語音語料庫</span>
                                </label>
                                <button class="btn btn-toggle align-items-center rounded py-0 position-absolute end-0 collapsed" data-bs-toggle="collapse" data-bs-target="#four-collapse" aria-expanded="false"> 
                                    <i class="bi bi-chevron-right"></i>
                                </button>
                            </div>
                            <div class="ms-4 collapse" id="four-collapse">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1">
                                    <li><label class="form-check-label pe-4"><input class="form-check-input" type="checkbox" name="book[]" autocomplete="off" value="5" onchange="updateCheckOptions(this)" id="checkbox5"> <span>龜兔賽跑NH</span></label></li>
                                    <li><label class="form-check-label pe-4"><input class="form-check-input" type="checkbox" name="book[]" autocomplete="off" value="6" onchange="updateCheckOptions(this)" id="checkbox6"> <span>龜兔賽跑HI</span></label></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="offcanvas-footer p-3">
                    <div class="row align-items-center0">
                        <div class="font-sizing col-8 text-start">
                            <button type="button" class="size0 btn btn-outline-secondary" onclick="fontSize(0, '.literature')">小</button>
                            <button type="button" class="size1 btn btn-outline-secondary active" onclick="fontSize(1, '.literature')">中</button>
                            <button type="button" class="size2 btn btn-outline-secondary" onclick="fontSize(2, '.literature')">大</button>
                        </div>
                        <div class="col-4 text-end">
                            <button type="button" class="btn btn-dark" data-bs-dismiss="offcanvas" onclick="navigateToPage()">確定</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 ms-sm-auto px-lg-4 px-md-2">
                <div class="position-relative my-3">
                    <h1 class="title"><span class="px-3">語料檢索</span></h1>
                </div>

                <div class="font-sizing d-block text-end pb-2">
                    <button type="button" class="size0 btn btn-outline-secondary" onclick="fontSize(0)">小</button>
                    <button type="button" class="size1 btn btn-outline-secondary active" onclick="fontSize(1)">中</button>
                    <button type="button" class="size2 btn btn-outline-secondary" onclick="fontSize(2)">大</button>
                </div>
                
                <div id="searchArea" class="card mb-3 accordion">
                    <div class="card-header accordion-header p-0">
                        <button class="accordion-button bg-primary text-white py-2 fs-6" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSearch" aria-expanded="true" aria-controls="collapseSearch">
                            <strong>檢索範圍設定</strong>
                        </button>
                    </div>
                    <div id="collapseSearch" class="card-body p-2 accordion-collapse collapse show">
                        <div>
                            <div class="p-0 col-12 d-block text-center table-rows table-rows--search">
                                <div class="table-row table-rows--body d-lg-table d-flex flex-wrap py-md-1 w-100">
                                    <div class="table-cell d-table-cell" data-title="&nbsp;">&nbsp;</div>
                                    <div class="table-cell d-table-cell text-main" data-title="漢字/拼音">
                                        <input type="text" class="form-control text-main-character" id="main_character" autocomplete="off" value="">
                                    </div>
                                    <div class="table-cell d-table-cell text-sub text-sub-speech" data-title="詞類">
                                        <select class="form-select text-speech" id="myMainSelect" autocomplete="off" disabled>
                                            <option value=""></a>
                                            <option value="A">A（非謂形容詞）</a>
                                            <option value="D">D（副詞）</a>
                                            <option value="Da">Da（數量副詞）</a>
                                            <option value="Dfa">Dfa（動詞前程度副詞）</a>
                                            <option value="Dfb">Dfb（動詞後程度副詞）</a>
                                            <option value="Dk">Dk（句副詞）</a>
                                            <option value="Di">Di（時態標記）</a>
                                            <option value="Caa">Caa（對等連接詞）</a>
                                            <option value="Cbb">Cbb（關聯連接詞）</a>
                                            <option value="Nep">Nep（指代定詞）</a>
                                            <option value="Neqa">Neqa（數量定詞）</a>
                                            <option value="Nes">Nes（特指定詞）</a>
                                            <option value="Neu">Neu（數詞定詞）</a>
                                            <option value="FW">FW（外文標記）</a>
                                            <option value="Nf">Nf（量詞）</a>
                                            <option value="Na">Na（普通名詞）</a>
                                            <option value="Nb">Nb（專有名稱）</a>
                                            <option value="Nc">Nc（地方詞）</a>
                                            <option value="Ncd">Ncd（位置詞）</a>
                                            <option value="Nd">Nd（時間詞）</a>
                                            <option value="Nh">Nh（代名詞）</a>
                                            <option value="P">P（介詞）</a>
                                            <option value="Cab">Cab（連接詞）</a>
                                            <option value="Cba">Cba（連接詞）</a>
                                            <option value="Neqb">Neqb（後置數量定詞）</a>
                                            <option value="Ng">Ng（後置詞）</a>
                                            <option value="DE">DE（的）</a>
                                            <option value="I">I（感嘆詞）</a>
                                            <option value="T">T（語助詞）</a>
                                            <option value="VA">VA（動作不及物動詞）</a>
                                            <option value="VB">VB（動作類及物動詞）</a>
                                            <option value="VH">VH（狀態不及物動詞）</a>
                                            <option value="VI">VI（狀態類及物動詞）</a>
                                            <option value="S">S（句標記）</a>
                                            <option value="SHI">SHI（是）</a>
                                            <option value="VAC">VAC（動作使動動詞）</a>
                                            <option value="VC">VC（動作及物動詞）</a>
                                            <option value="VCL">VCL（動作接地方賓語動詞）</a>
                                            <option value="VD">VD（雙賓動詞）</a>
                                            <option value="VE">VE（動作句賓動詞）</a>
                                            <option value="VF">VF（動作謂賓動詞）</a>
                                            <option value="VG">VG（分類動詞）</a>
                                            <option value="VHC">VHC（狀態使動動詞）</a>
                                            <option value="VJ">VJ（狀態及物動詞）</a>
                                            <option value="VK">VK（狀態句賓動詞）</a>
                                            <option value="VL">VL（狀態謂賓動詞）</a>
                                            <option value="V_2">V_2（有）</a>
                                        </select>
                                    </div>
                                    <div class="table-cell d-table-cell form-features" data-title="&nbsp;">
                                        <a href="javascript:void(0);" onclick="conditionChange(2, this)"><i class="bi bi-plus-circle-fill fs-3"></i></a>
                                    </div>
                                </div>
                                <div class="table-row table-rows--body d-lg-table d-flex flex-wrap py-md-1 w-100 form-pos">
                                    <div class="table-cell d-table-cell" data-title="&nbsp;">&nbsp;</div>
                                    <div class="table-cell d-table-cell text-start text-adjacent" data-title="&nbsp;">
                                        <label class="d-flex align-items-center"><input type="radio" name="character0" class="form-check-input m-1" autocomplete="off" value="1" checked> 同一個 IPU 內 (同一語者)</label>
                                        <label class="d-flex align-items-center"><input id="inp_ipu" type="radio" name="character0" class="form-check-input m-1" autocomplete="off" value="2" onclick="removet2()"> 前後相鄰 <input type="text" id="text1" class="form-control d-inline-block text-center mx-1 text-n-character" autocomplete="off" value="" disabled> 字內 (同一語者)</label>
                                        <label class="d-flex align-items-center"><input  id="inp_cross" type="radio" name="character0" class="form-check-input m-1" autocomplete="off" value="3" onclick="removet1()"> 前後相鄰 <input type="text" id="text2" class="form-control d-inline-block text-center mx-1 text-n-character" autocomplete="off" value="" disabled> 字內 (跨語者)</label>
                                    </div>
                                    <div class="table-cell d-table-cell" data-title="&nbsp;">&nbsp;</div>
                                </div>
                                <div class="table-row table-rows--body d-lg-table d-flex flex-wrap py-md-1 table-rows--body-sub w-100">
                                    <div class="table-cell d-table-cell" data-title="&nbsp;">
                                        <select class="form-select mode" autocomplete="off">
                                            <option value="and">AND</option>
                                            <option value="or">OR</option>
                                            <option value="not">NOT</option>
                                        </select>
                                    </div>
                                    <div class="table-cell d-table-cell text-main" data-title="漢字/拼音">
                                        <input type="text" class="form-control text-main-character input_character" autocomplete="off" value="">
                                    </div>
                                    <div class="table-cell d-table-cell text-sub text-sub-speech" data-title="詞類">
                                        <select class="form-select text-speech mySelect" id="mySelect" autocomplete="off" disabled>
                                            <option value=""></a>
                                            <option value="A">A（非謂形容詞）</a>
                                            <option value="D">D（副詞）</a>
                                            <option value="Da">Da（數量副詞）</a>
                                            <option value="Dfa">Dfa（動詞前程度副詞）</a>
                                            <option value="Dfb">Dfb（動詞後程度副詞）</a>
                                            <option value="Dk">Dk（句副詞）</a>
                                            <option value="Di">Di（時態標記）</a>
                                            <option value="Caa">Caa（對等連接詞）</a>
                                            <option value="Cbb">Cbb（關聯連接詞）</a>
                                            <option value="Nep">Nep（指代定詞）</a>
                                            <option value="Neqa">Neqa（數量定詞）</a>
                                            <option value="Nes">Nes（特指定詞）</a>
                                            <option value="Neu">Neu（數詞定詞）</a>
                                            <option value="FW">FW（外文標記）</a>
                                            <option value="Nf">Nf（量詞）</a>
                                            <option value="Na">Na（普通名詞）</a>
                                            <option value="Nb">Nb（專有名稱）</a>
                                            <option value="Nc">Nc（地方詞）</a>
                                            <option value="Ncd">Ncd（位置詞）</a>
                                            <option value="Nd">Nd（時間詞）</a>
                                            <option value="Nh">Nh（代名詞）</a>
                                            <option value="P">P（介詞）</a>
                                            <option value="Cab">Cab（連接詞）</a>
                                            <option value="Cba">Cba（連接詞）</a>
                                            <option value="Neqb">Neqb（後置數量定詞）</a>
                                            <option value="Ng">Ng（後置詞）</a>
                                            <option value="DE">DE（的）</a>
                                            <option value="I">I（感嘆詞）</a>
                                            <option value="T">T（語助詞）</a>
                                            <option value="VA">VA（動作不及物動詞）</a>
                                            <option value="VB">VB（動作類及物動詞）</a>
                                            <option value="VH">VH（狀態不及物動詞）</a>
                                            <option value="VI">VI（狀態類及物動詞）</a>
                                            <option value="S">S（句標記）</a>
                                            <option value="SHI">SHI（是）</a>
                                            <option value="VAC">VAC（動作使動動詞）</a>
                                            <option value="VC">VC（動作及物動詞）</a>
                                            <option value="VCL">VCL（動作接地方賓語動詞）</a>
                                            <option value="VD">VD（雙賓動詞）</a>
                                            <option value="VE">VE（動作句賓動詞）</a>
                                            <option value="VF">VF（動作謂賓動詞）</a>
                                            <option value="VG">VG（分類動詞）</a>
                                            <option value="VHC">VHC（狀態使動動詞）</a>
                                            <option value="VJ">VJ（狀態及物動詞）</a>
                                            <option value="VK">VK（狀態句賓動詞）</a>
                                            <option value="VL">VL（狀態謂賓動詞）</a>
                                            <option value="V_2">V_2（有）</a>
                                        </select>
                                    </div>
                                    <div class="table-cell d-table-cell form-features" data-title="&nbsp;">
                                        <a href="javascript:void(0);" onclick="conditionChange(1, this)"><i class="bi bi-dash-circle-fill fs-3"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer bg-transparent p-2 fs-6">
                            <div class="col-12 d-flex justify-content-center py-2">
                                <button class="btn btn-primary px-4 mx-3" type="reset" onclick="clean1()">清除</button>
                                <button class="btn btn-primary px-4 mx-3" type="submit" onclick="searching1()">搜尋</button>
                            </div>
                        </div>
                    </div>
                    <!-- 搜尋條件樣版 -->
                    <div class="table-row table-rows--body d-lg-table d-flex flex-wrap py-md-1 search-condition-tmpl d-lg-none d-none table-rows--body-sub w-100">
                        <div class="table-cell d-table-cell" data-title="&nbsp;">
                            <select class="form-select mode" autocomplete="off">
                                <option value="and">AND</option>
                                <option value="or">OR</option>
                                <option value="not">NOT</option>
                            </select>
                        </div>
                        <div class="table-cell d-table-cell text-main" data-title="漢字/拼音">
                            <input type="text" class="form-control text-main-character input_character" autocomplete="off" value="">
                        </div>
                        <div class="table-cell d-table-cell text-sub text-sub-speech" data-title="詞類">
                            <select class="form-select text-speech mySelect" id="mySelect" autocomplete="off" disabled>
                                <option value=""></a>
                                <option value="A">A（非謂形容詞）</a>
                                <option value="D">D（副詞）</a>
                                <option value="Da">Da（數量副詞）</a>
                                <option value="Dfa">Dfa（動詞前程度副詞）</a>
                                <option value="Dfb">Dfb（動詞後程度副詞）</a>
                                <option value="Dk">Dk（句副詞）</a>
                                <option value="Di">Di（時態標記）</a>
                                <option value="Caa">Caa（對等連接詞）</a>
                                <option value="Cbb">Cbb（關聯連接詞）</a>
                                <option value="Nep">Nep（指代定詞）</a>
                                <option value="Neqa">Neqa（數量定詞）</a>
                                <option value="Nes">Nes（特指定詞）</a>
                                <option value="Neu">Neu（數詞定詞）</a>
                                <option value="FW">FW（外文標記）</a>
                                <option value="Nf">Nf（量詞）</a>
                                <option value="Na">Na（普通名詞）</a>
                                <option value="Nb">Nb（專有名稱）</a>
                                <option value="Nc">Nc（地方詞）</a>
                                <option value="Ncd">Ncd（位置詞）</a>
                                <option value="Nd">Nd（時間詞）</a>
                                <option value="Nh">Nh（代名詞）</a>
                                <option value="P">P（介詞）</a>
                                <option value="Cab">Cab（連接詞）</a>
                                <option value="Cba">Cba（連接詞）</a>
                                <option value="Neqb">Neqb（後置數量定詞）</a>
                                <option value="Ng">Ng（後置詞）</a>
                                <option value="DE">DE（的）</a>
                                <option value="I">I（感嘆詞）</a>
                                <option value="T">T（語助詞）</a>
                                <option value="VA">VA（動作不及物動詞）</a>
                                <option value="VB">VB（動作類及物動詞）</a>
                                <option value="VH">VH（狀態不及物動詞）</a>
                                <option value="VI">VI（狀態類及物動詞）</a>
                                <option value="S">S（句標記）</a>
                                <option value="SHI">SHI（是）</a>
                                <option value="VAC">VAC（動作使動動詞）</a>
                                <option value="VC">VC（動作及物動詞）</a>
                                <option value="VCL">VCL（動作接地方賓語動詞）</a>
                                <option value="VD">VD（雙賓動詞）</a>
                                <option value="VE">VE（動作句賓動詞）</a>
                                <option value="VF">VF（動作謂賓動詞）</a>
                                <option value="VG">VG（分類動詞）</a>
                                <option value="VHC">VHC（狀態使動動詞）</a>
                                <option value="VJ">VJ（狀態及物動詞）</a>
                                <option value="VK">VK（狀態句賓動詞）</a>
                                <option value="VL">VL（狀態謂賓動詞）</a>
                                <option value="V_2">V_2（有）</a>
                            </select>
                        </div>
                        <div class="table-cell d-table-cell form-features" data-title="&nbsp;">
                            <a href="javascript:void(0);" onclick="conditionChange(1, this)"><i class="bi bi-dash-circle-fill fs-3"></i></a>
                        </div>
                    </div>
                </div>
                <div id="find_bar">

                </div>
                <div class="text-muted fs-6 mx-3 mb-3 d-flex flex-lg-row flex-column justify-content-end text-end">
                    <div id="search_export"></div>
                </div>

                <nav id="Pagination1">
                </nav>

                <div id="searchResult" class="content pb-2">
                    <div class="mb-4 p-0 col-12 d-lg-table d-block text-center table-rows table-rows--result">
                        <div class="table-row table-rows--header py-3 d-flex align-items-center" id="search_header"> 
                        </div>
                        <div id="search_content"></div>
                    </div>
                </div>

                <nav class="pb-4" id="Pagination2">

                </nav>
            </div>
        </div>
    </main>
    
    <footer class="footer mt-auto px-lg-5 px-2">
        <p class="text-center text-white my-md-2 my-1">Copyright &copy; 中央研究院語言學研究所 Institute of Linguistics, Academia Sinica.</p>
    </footer>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/common.js' %}"></script>
    <script src="{% static 'js/navigateToPage.js' %}"></script>
    <script src="{% static 'js/search.js' %}"></script>
    <script src="{% static 'js/showPage.js' %}"></script>
    <script src="{% static 'js/searching.js' %}"></script>
    <script src="{% static 'js/search.js' %}"></script>
</body>
</html>
